<!-- About Section -->
    <section id="resume">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Resume</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Marketing Assistant, Pandora</h4>
                                    <h4 class="subheading">Jan 2015 - Jun 2016</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Student Assistant in the marketing team of Group Export and Travel Retail. Main responsibilities include: Copywriting for all marketing materials (English, Traditional Chinese and Simplified Chinese), coordinating with key accounts (mainly airlines) and in-house graphic designers to deliver on artwork, managing imagery database, and any other ad hoc marketing-related projects.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Marketing and Business Development, Foodtours.eu</h4>
                                    <h4 class="subheading">Sep 2015 - Dec 2015</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Assisting in the business development, key account management and marketing activities of Copenhagen Food Tours (part of Foodtours.eu). Key contact person for existing distributors; meanwhile, created new business opportunities through reaching out to new distributors. Also responsible for marketing activities and the development of marketing materials, both online and off.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>External Researcher, Social Media, LEGO</h4>
                                    <h4 class="subheading">Nov 2014 - Dec 2014</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Conducted research on LEGO's presence on numerous Chinese social media platforms. Translated data and analytics into actionable findings and presented them to the social media team lead.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Event Coordinator, Iværk & Vækst</h4>
                                    <h4 class="subheading">Sep 2014</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Part of the Event Service Team for Denmark's largest fair for entrepreneurs. 
                                    Tasks include: Welcoming press, keynote speakers and advisors at the VIP check-in, welcoming guests at the entrance, controlling tickets and handout the program, welcoming and serving the VIP guests (press, sponsors and keynote speakers) in the VIP lounge, serving both visitors and exhibitors at the Information stand and other practical tasks regarding preparation, decoration and close down of the fair.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>HR Analyst, Deutsche Bank</h4>
                                    <h4 class="subheading">Jun 2012 - July 2014</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>HR Analyst with exposure to all product areas and functions across Human Resources. Received professional HR training, as well as soft skills training, e.g. consultancy & communication skills.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Education</h4>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Master of Tourism, Aalborg University, Copenhagen</h4>
                                    <h4 class="subheading">2014 - 2016</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Master's thesis title: Implementing Food Tourism in Destination Branding - a case study of Copenhagen. 

                                    I combined my passion in brand management, travel, and food, in order to come up with innovative destination branding strategies.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Bachelor of International Business Management, The University of Hong Kong</h4>
                                    <h4 class="subheading">2010 - 2013</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Graduated with First Class Honours in Bachelor of Business Administration in International Business and Global Management.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/8.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>University Exchange Programme, Lund University, Sweden</h4>
                                    <h4 class="subheading">2012</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Participated in the University Exchange Programme and spent one semester in Lund studying cross-cultural busi- nesses, Scandinavian culture and basic Swedish.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/9.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>GCSE & A-Levels, Truro School, United Kingdom</h4>
                                    <h4 class="subheading">2005 - 2010</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Achieved 1A*, 2A, 1B in GCE Advanced Level and 8A*, 3A in General Certificate of Secondary Education.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>