<!-- Clients Aside -->
    <aside class="clients bg-light-gray">
        <div class="container">
            <div class="client">
                <div class="client-thumb">
                    <img src="img/logos/pandora.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
            <div class="client">
                <div class="client-thumb">
                    <img src="img/logos/lego.jpg" class="img-responsive img-centered" alt="">
                </div>
            </div>
            <div class="client">
                <div class="client-thumb">
                    <img src="img/logos/db.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
            <div class="client">
                <div class="client-thumb">
                    <img src="img/logos/foodtours.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
        </div>
    </aside>