<!-- Services Section -->
    <section id="who">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Who am I?</h2>
                    <h3 class="section-subheading">I'm Rachel. I have acquired cultural insights and commercial acumen from my academic background in tourism and international business. Combined with solid work experiences in different fields, I have developed strong communication and problem-solving skills. My passion lies within marketing, communications, and project management.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-weixin fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Asian market expertise</h4>
                    <p>Originally from Hong Kong, lived in England, Sweden and now Denmark. International background with deep knowledge in the Asian market.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Content creator</h4>
                    <p>Strong verbal and written communication skills, and enjoy creating compelling content to inspire the audience. Working fluently in both English and Chinese.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Diverse skillsets</h4>
                    <p>A combination of expertise in international business, marketing and tourism. Currently getting into coding (HTML, CSS mainly) and perfecting my Danish.</p>
                </div>
            </div>
        </div>
    </section>